{% load results %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Project List - Patchwork</title>
  <style id="css-table-select" type="text/css">
   td { padding: 2pt; }
  </style>
</head>
<body>


<b>Patch Details</b>
<table>
<tr><td><b>Series:</b></td><td>{{ human_name }}</td></tr>
<tr><td><b>URL:</b></td><td><a href="{{ url }}">{{ url }}</a></td></tr>
<tr><td><b>State:</b></td><td>{{ state }}</td></tr>
{% if result.url %}
    <tr><td><b>Details:</b></td><td><a href="{{ result.url }}">{{ result.url }}</a></td></tr>
{% endif %}
</table>

{% if result.summary %}
    {{ result.summary|render_markdown }}
{% endif %}
</body>
</html>
